*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
h1{
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 3rem;
}
.container{
    height: 100vh;
    background: linear-gradient(black,skyblue,black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}
.search{
    flex-direction: column;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input{
    border-radius: 10px;
    height: 8vh;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 20px;
    border: 1px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.search input::placeholder{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
button{
    background: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.5rem;
}
button:hover{
    transition: 0.9s;
    transform: scale(1.1);
    filter: invert(1);
}
.icon{
    height: 120px;
    width: 120px;
}
.weather{
    text-align: left;
    border-radius: 2rem 0px;
    line-height: 30px;
    padding: 1rem;
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    background-color: white;
}
.hide{
    display: none;
};
@media screen and (max-width: 768px){
    h1{

        font-size: 2rem;
    }
    .search input{
        height: 6vh ;
        padding: 10px ;
        font-size: 1rem;
    }
    button{
        padding: 5px 10px;
        font-size: 1rem;
    }
    .weather{
        border-radius: 0.7rem 0px;
        padding: 0.5rem ;
        line-height: 20px ;
        font-size: 1rem;
    }
}
@media screen and (max-width: 480px){
    h1{
        font-size: 1.5rem;
    }
    .search input{
         height: 5vh ;
        padding: 10px ; 
        font-size: 0.8rem;
    }
    button{
        padding: 5px 10px;
        font-size: 0.8rem;
    }
    .icon{
        height: 70px;
        width: 70px;
    }
    .weather{
        border-radius: 0.7rem 0px;
        padding: 0.5rem ;
        line-height: 15px ; 
        font-size: 0.8rem;
    }
    
}
@media screen and (max-width: 320px){
    h1{
        font-size: 1rem;
    }
    .search input{
        height: 4vh ;
        padding: 10px ;
        font-size: 0.5rem;
    }
    button{
        padding: 5px 10px;
        font-size: 0.5rem;
    }
    .icon{
        height: 50px;
        width: 50px;
    }
    .weather{
        border-radius: 0.7rem 0px;
        padding: 0.5rem ;
        line-height: 12px ;
        font-size: 0.5rem;
    }
    
}
@media screen and (max-width: 280px){
    h1{
        font-size: 0.8rem;
    }
    .search input{
        height: 3vh ;
        padding: 10px ;
        font-size: 0.4rem;
    }
    button{
        padding: 5px 10px;
        font-size: 0.4rem;
    }
    .icon{
        height: 40px;
        width: 40px;
    }
    .weather{
        border-radius: 0.7rem 0px;
        padding: 0.5rem ;
        line-height: 10px ;
        font-size: 0.4rem;
    }
    
}
@media screen and (max-width: 240px){
    h1{
        font-size: 0.5rem;
    }
    .search input{
        height: 2vh ;
        padding: 10px ;
        font-size: 0.3rem;
    }
    button{
        padding: 5px 10px;
        font-size: 0.3rem;
    }
    .icon{
        height: 30px;
        width: 30px;
    }
    .weather{
        border-radius: 0.7rem 0px;
        padding: 0.5rem ;
        line-height: 10px ;
        font-size: 0.3rem;
    }
    
}
@media screen and (max-width: 200px){
    h1{
        font-size: 0.3rem;
    }
    .search input{
        height: 1vh ;
        padding: 10px ;
        font-size: 0.2rem;
    }
    button{
        padding: 5px 10px;
        font-size: 0.2rem;
    }
    .icon{
        height: 20px;
        width: 20px;
    }
    .weather{
        border-radius: 0.7rem 0px;
        padding: 0.5rem ;
        line-height: 5px ;
        font-size: 0.2rem;
    }
   
}